configs/awesome/.idea/awesome.iml
configs/awesome/.idea/modules.xml
configs/awesome/.idea/vcs.xml
configs/awesome/.idea/dictionaries/aquinary.xml
configs/awesome/.idea/inspectionProfiles/Project_Default.xml
locals/fish/fish_history
configs/dconf/user
configs/Code/User/History
configs/Code/Service Worker
configs/Code/Backups
configs/Code/Cache
configs/Code/Local Storage
configs/Code/User/History
configs/copyq
